version: 2
updates:
  - package-ecosystem: cargo
    directory: /native
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps"
    labels:
      - dependencies

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps"
    labels:
      - dependencies

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: "ci"
    labels:
      - ci
