.git
native/target
native/index.node                                                     
test           
.yarn/releases/yarn-1.19.0.js
native/artifacts.json                               
README.md                               
.yarnrc.yml                  
.yarn       
.github
lib/
.editorconfig
tsconfig.json