.git
.idea
native/target
native/index.node
test
.yarn/releases/yarn-1.19.0.js
native/artifacts.json
.yarnrc.yml
.yarn
.github
lib/
.editorconfig
tsconfig.json
docs/
yarn-error.log
.prettierrc
vitest.config.ts
typedoc.json
jest.config.js
**/*.log
**/*.jpg
