name: Spell checking
on:
  push:

jobs:
  build:
    name: Spell checking
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
      with:
        fetch-depth: 5
    - uses: check-spelling/check-spelling@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        bucket: .github/actions
        project: spell-check
